{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>Dide</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/imgs/theme/dide_logo2.png' %}" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slider-range.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="mobile-promotion">
            <!-- <span>Grand opening, <strong>up to 15%</strong> off all items. Only <strong>3 days</strong> left</span> -->
        </div>
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="{% url 'index' %}" class="hover-up">{% for m in maininfo %}<img src="{{m.image.url}}" alt="logo" />{% endfor %}</a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="{% url 'search' %}" method="GET">
                                <!-- <select class="select-active">
                                    <option>All Categories</option>
                                    <option>Milks and Dairies</option>
                                    <option>Wines & Alcohol</option>
                                    <option>Clothing & Beauty</option>
                                    <option>Pet Foods & Toy</option>
                                    <option>Fast food</option>
                                    <option>Baking material</option>
                                    <option>Vegetables</option>
                                    <option>Fresh Seafood</option>
                                    <option>Noodles & Rice</option>
                                    <option>Ice cream</option>
                                </select> -->
                                <input type="text" placeholder="{% trans 'Search for items...' %}" name="q" />
                                <button class="material-symbols-outlined" type="submit"><span class="material-symbols-outlined"><i class="fi-rs-search"></i></span></button>

                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a>
                                        <img class="svgInject" alt="" src="{% static 'assets/imgs/theme/icons/language.svg' %}" />
                                    </a>
                                    <a href=""><span class="lable ml-0"></span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown categories-dropdown-wrap">
                                    <!-- <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown"> -->
                                        
                                        <ul>
                                            <li>
                                                <a href="{% url 'set-language' 'tk' %}"><img src="{% static 'assets/imgs/theme/icons/flag-tk.svg' %}" alt="" />Türkmen dili</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'set-language' 'ru' %}"><img src="{% static 'assets/imgs/theme/icons/flag-ru.svg' %}" alt="" />Pусский</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'set-language' 'en' %}"><img src="{% static 'assets/imgs/theme/icons/flag-en.svg' %}" alt="" />English</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="header-action-icon-2">
                                    <a href="{% url 'wishlist' %}">
                                        <img class="svgInject" alt="Nest" src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}" />
                                        {% if request.user.is_authenticated %}
                                        <span class="pro-count blue">{{ wishlist.count }}</span>
                                        {% else %}
                                        <span class="pro-count blue">0</span>
                                        {% endif %}
                                    </a>
                                    <a href="{% url 'wishlist' %}"><span class="lable">{% trans 'Wishlist' %}</span></a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="{% url 'cart' %}">
                                        <img alt="Nest" src="{% static 'assets/imgs/theme/icons/icon-cart.svg' %}" />
                                        <span class="pro-count blue cart-items-count">{{ request.session.cart_data_obj|length }}</span>
                                    </a>
                                    <a href="{% url 'cart' %}"><span class="lable">{% trans  "Cart" %}</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2">

                                        <div class="shopping-cart-footer">

                                            <div class="shopping-cart-button">
                                                <a href="{% url 'cart' %}" class="outline">{% trans  'View cart' %}</a>
                                                <a href="{% url 'checkout' %}">{% trans 'Checkout' %}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-action-icon-2">
                                    <a href="{% url 'dashboard' %}">
                                        <img class="svgInject" alt="Nest" src="{% static 'assets/imgs/theme/icons/icon-user.svg' %}" />
                                    </a>
                                    <a href="{% url 'dashboard' %}"><span class="lable ml-0">{% trans 'Account' %}</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li><a href="{% url 'dashboard' %}"><i class="fi fi-rs-user mr-10"></i>{% trans 'My Account' %}</a></li>
                                            <li><a href="{% url 'dashboard' %}"><i class="fi fi-rs-user mr-10"></i>{% trans 'Admin Dashboard' %}</a></li>
                                            <!-- <li><a href="page-account.html"><i class="fi fi-rs-location-alt mr-10"></i>Order Tracking</a></li> -->
                                            <!-- <li><a href="page-account.html"><i class="fi fi-rs-label mr-10"></i>My Voucher</a></li> -->
                                            <li><a href="{% url 'wishlist' %}"><i class="fi fi-rs-heart mr-10"></i>{% trans 'My Wishlist' %}</a></li>
                                            <li><a href="{% url 'dashboard' %}"><i class="fi fi-rs-settings-sliders mr-10"></i>{% trans 'Setting' %}</a></li>
                                            {% if request.user.is_authenticated %}
                                            <li><a href="{% url 'sign-out' %}"><i class="fi fi-rs-sign-out mr-10"></i>{% trans 'Sign out' %}</a></li>
                                            {% else %}
                                            <li><a href="{% url 'sign-in' %}"><i class="fi fi-rs-sign-in mr-10"></i>{% trans 'Sign In' %}</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="{% url 'index' %}">{% for m in maininfo %}<img src="{{m.image.url}}" alt="logo" />{% endfor %}</a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categories-button-active" href="#">
                                <span class="fi-rs-apps"></span>{% trans 'All Categories' %}
                                <i class="fi-rs-angle-down"></i>
                            </a>
                            <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                                <div class="d-flex categori-dropdown-inner">
                                    <ul>
                                        {% for c in categories %}

                                        <li>
                                            <a href="{% url 'category-product-list' c.cid %}"> <img src="{{ c.image.url }}" alt="" />{{c.title}}</a>
                                        </li>
                                        {% endfor %}

                                    </ul>

                                </div>

                                <!-- <div class="more_categories"><span class="icon"></span> <span class="heading-sm-1">Show more...</span></div> -->
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                            <nav>
                                <ul>
                                    <li class="hot-deals"><img src="{% static 'assets/imgs/theme/icons/icon-hot.svg' %}" alt="hot deals" /><a href="{% url 'product-list' %}">{% trans 'Акции' %}</a></li>
                                    <li>
                                    <a class="active" href="{% url 'index' %}">{% trans 'Home' %}</a>

                                    </li>

                                    <li>
                                        <a href="{% url 'category-list' %}">{% trans "Category" %} <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            {% for c in categories %}
                                            <li><a href="{% url 'category-product-list' c.cid %}">{{c.title}}</a></li>
                                            {% endfor %}
                                            <hr>
                                            <li><a href="{% url 'category-list' %}">{% trans 'All Categories' %}</a></li>

                                        </ul>
                                    </li>

                                    <li>
                                        <a href="{% url 'product-list'  %}">{% trans 'Shop' %}</a>
                                    </li>

                                    <li>
                                        <a href="{% url 'vendor-list' %}">{% trans 'Vendors' %} </a>

                                    </li>
                                    <!-- <li class="position-static">
                                        <a href="#">Mega menu <i class="fi-rs-angle-down"></i></a>
                                        <ul class="mega-menu">
                                            <li class="sub-mega-menu sub-mega-menu-width-22">
                                                <a class="menu-title" href="#">Fruit & Vegetables</a>
                                                <ul>
                                                    <li><a href="shop-product-right.html">Meat & Poultry</a></li>
                                                    <li><a href="shop-product-right.html">Fresh Vegetables</a></li>
                                                    <li><a href="shop-product-right.html">Herbs & Seasonings</a></li>
                                                    <li><a href="shop-product-right.html">Cuts & Sprouts</a></li>
                                                    <li><a href="shop-product-right.html">Exotic Fruits & Veggies</a></li>
                                                    <li><a href="shop-product-right.html">Packaged Produce</a></li>
                                                </ul>
                                            </li>
                                            <li class="sub-mega-menu sub-mega-menu-width-22">
                                                <a class="menu-title" href="#">Breakfast & Dairy</a>
                                                <ul>
                                                    <li><a href="shop-product-right.html">Milk & Flavoured Milk</a></li>
                                                    <li><a href="shop-product-right.html">Butter and Margarine</a></li>
                                                    <li><a href="shop-product-right.html">Eggs Substitutes</a></li>
                                                    <li><a href="shop-product-right.html">Marmalades</a></li>
                                                    <li><a href="shop-product-right.html">Sour Cream</a></li>
                                                    <li><a href="shop-product-right.html">Cheese</a></li>
                                                </ul>
                                            </li>
                                            <li class="sub-mega-menu sub-mega-menu-width-22">
                                                <a class="menu-title" href="#">Meat & Seafood</a>
                                                <ul>
                                                    <li><a href="shop-product-right.html">Breakfast Sausage</a></li>
                                                    <li><a href="shop-product-right.html">Dinner Sausage</a></li>
                                                    <li><a href="shop-product-right.html">Chicken</a></li>
                                                    <li><a href="shop-product-right.html">Sliced Deli Meat</a></li>
                                                    <li><a href="shop-product-right.html">Wild Caught Fillets</a></li>
                                                    <li><a href="shop-product-right.html">Crab and Shellfish</a></li>
                                                </ul>
                                            </li>
                                            <li class="sub-mega-menu sub-mega-menu-width-34">
                                                <div class="menu-banner-wrap">
                                                    <a href="shop-product-right.html"><img src="{% static 'assets/imgs/banner/banner-menu.png' %}" alt="Nest" /></a>
                                                    <div class="menu-banner-content">
                                                        <h4>Hot deals</h4>
                                                        <h3>
                                                            Don't miss<br /> Trending
                                                        </h3>
                                                        <div class="menu-banner-price">
                                                            <span class="new-price text-success">Save to 50%</span>
                                                        </div>
                                                        <div class="menu-banner-btn">
                                                            <a href="shop-product-right.html">Shop now</a>
                                                        </div>
                                                    </div>
                                                    <div class="menu-banner-discount">
                                                        <h3>
                                                            <span>25%</span> off
                                                        </h3>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <!-- <li>
                                        <a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'about_us' %}">About Us</a></li>
                                            <li><a href="{% url 'contact' %}">Contact</a></li>
                                            <li><a href="{% url 'dashboard' %}">My Dashboard</a></li>
                                            <li><a href="{% url 'purchase_guide' %}">Purchase Guide</a></li>
                                            <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                                            <li><a href="{% url 'terms_of_service' %}">Terms of Service</a></li>
                                        </ul>
                                    </li> -->
                                    <li>
                                        <a href="{% url 'contact' %}">{% trans  'Contact' %}</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-flex">
                        <img src="{% static 'assets/imgs/theme/icons/icon-headphone.svg' %}" alt="hotline" />
                        {% for m in maininfo %}<p>{{ m.phone }}<span>24/7 {% trans 'Support Center' %}</span></p>{% endfor %}
                    </div>
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="{% url 'wishlist' %}">
                                    <img alt="Nest" src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}" />
                                    {% if request.user.is_authenticated %}
                                    <span class="pro-count blue">{{ wishlist.count }}</span>
                                    {% else %}
                                    <span class="pro-count blue">0</span>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="{% url 'cart' %}">
                                    <img alt="Nest" src="{% static 'assets/imgs/theme/icons/icon-cart.svg' %}" />
                                    <span class="pro-count white cart-items-count">{{ request.session.cart_data_obj|length }}</span>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">

                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-button">
                                            <a href="{% url 'cart' %}">{% trans 'View cart' %}</a>
                                            <a href="{% url 'checkout' %}">{% trans 'Checkout' %}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <script>
                    setTimeout (() => {
                        $(".alert").alert("close");
                    }, 3000)
                </script>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="{% url 'index' %}">{% for m in maininfo %}<img src="{{m.image.url}}" alt="logo" />{% endfor %}</a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="{% url 'search' %}" method="GET">
                        <input type="text" placeholder="{% trans 'Search for items…' %}" name="q"  />
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu font-heading">
                            <li class="menu-item-has-children">
                                <a href="{% url 'index' %}">{% trans 'Home' %}</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="{% url 'category-list' %}">{% trans 'Category' %}</a>
                                <ul class="dropdown">
                                    {% for c in categories %}
                                    <li><a href="{% url 'category-product-list' c.cid %}">{{c.title}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="{% url 'vendor-list' %}">{% trans  'Vendors' %}</a>
                            </li>
                            <!-- <li class="menu-item-has-children">
                                <a href="#">Mega menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children">
                                        <a href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li> -->
                            
                            <li class="menu-item-has-children">
                                <a href="#">{% trans 'Language' %}</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'set-language' 'tk' %}">Türkmen dili</a></li>
                                    <li><a href="{% url 'set-language' 'ru' %}">Русский</a></li>
                                    <li><a href="{% url 'set-language' 'en' %}">English</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap">
                    <div class="single-mobile-header-info">
                        <a href="{% url 'contact' %}"><i class="fi-rs-marker"></i> {% for m in maininfo %}{{ m.address }}{% endfor %} </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="{% url 'sign-up' %}"><i class="fi-rs-user"></i>{% trans 'Log In / Sign Up' %} </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a ><i class="fi-rs-headphones"></i> {% for m in maininfo %}{{ m.phone }} {% endfor %}</a>
                    </div>
                </div>
                <div class="mobile-social-icon mb-50">
                    <h6 class="mb-15">Follow Us</h6>
                    <a><img src="{% static 'assets/imgs/theme/icons/icon-facebook-white.svg' %}" alt="" /></a>
                    <a><img src="{% static 'assets/imgs/theme/icons/icon-twitter-white.svg' %}" alt="" /></a>
                    <a><img src="{% static 'assets/imgs/theme/icons/icon-instagram-white.svg' %}" alt="" /></a>
                    <a><img src="{% static 'assets/imgs/theme/icons/icon-pinterest-white.svg' %}" alt="" /></a>
                    <a><img src="{% static 'assets/imgs/theme/icons/icon-youtube-white.svg' %}" alt="" /></a>
                </div>
                <div class="site-copyright">Copyright {% now "Y" %} -  {% trans 'All rights reserved' %}. </div>
            </div>
        </div>
    </div>
    <!--End header-->

    {% block content %}



    {% endblock content %}



    <footer class="main">
        <!-- <section class="newsletter mb-15">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="position-relative newsletter-inner">
                            <div class="newsletter-content">
                                <h2 class="mb-20">
                                    Stay home & get your daily 
                                </h2>
                            </div>
                            <img src="{% static 'assets/imgs/banner/banner-9.png' %}" alt="newsletter" />
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- <section class="featured section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="{% static 'assets/imgs/theme/icons/icon-1.svg' %}" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Best prices & offers</h3>
                                <p>Orders $50 or more</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="{% static 'assets/imgs/theme/icons/icon-2.svg' %}" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Free delivery</h3>
                                <p>24/7 amazing services</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="{% static 'assets/imgs/theme/icons/icon-3.svg' %}" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Great daily deal</h3>
                                <p>When you sign up</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="{% static 'assets/imgs/theme/icons/icon-4.svg' %}" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Wide assortment</h3>
                                <p>Mega Discounts</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="{% static 'assets/imgs/theme/icons/icon-5.svg' %}" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Easy returns</h3>
                                <p>Within 30 days</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 d-xl-none">
                        <div class="banner-left-icon d-flex align-items-center wow fadeIn animated">
                            <div class="banner-icon">
                                <img src="{% static 'assets/imgs/theme/icons/icon-6.svg' %}" alt="" />
                            </div>
                            <div class="banner-text">
                                <h3 class="icon-box-title">Safe delivery</h3>
                                <p>Within 30 days</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col">
                        <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
                            <div class="logo mb-30">
                                <a>{% for m in maininfo %}<img src="{{ m.image.url }}" alt="logo" />{% endfor %}</a>
                                <!-- <p class="font-lg text-heading">Awesome grocery store website template</p> -->
                    <p class="font-sm mb-0">&copy; {% now "Y" %}, <strong class="text-brand">Dide</strong> {% trans 'All rights reserved' %}</p>
                            </div>
                            <ul class="contact-infor">
                            </ul>
                        </div>
                    </div>
                    <div class="footer-link-widget col">
                        <h4 class="widget-title">{% trans 'Address' %}</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><img src="{% static 'assets/imgs/theme/icons/icon-location.svg' %}" alt="" /><strong> <span>{% for m in maininfo %}{{ m.address }}{% endfor %}</span> </strong></li>
                        </ul>
                    </div>
                    <div class="footer-link-widget col">
                        <h4 class="widget-title">{% trans 'Call Us' %}:</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><img src="{% static 'assets/imgs/theme/icons/icon-contact.svg' %}" alt="" /><strong><span>{% for m in maininfo %}{{ m.phone }}{% endfor %}</span></strong></li>
                        
                        </ul>
                    </div>
                    <div class="footer-link-widget col">
                        <h4 class="widget-title">Email:</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            
                            <li><img src="{% static 'assets/imgs/theme/icons/icon-email-2.svg' %}" alt="" /><strong><span>{% for m in maininfo %}{{ m.mail }}{% endfor %}</span></strong></li>
                            
                        </ul>
                    </div>
                    <div class="footer-link-widget col">
                        <h4 class="widget-title">{% trans 'Hours' %}:</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><img src="{% static 'assets/imgs/theme/icons/icon-clock.svg' %}" alt="" /><strong><span>{% for m in maininfo %}{{ m.from_hours|date:'H:i' }} - {{ m.to_hours|date:'H:i' }}{% endfor %}</span></strong></li>
                        </ul>
                    </div>
                    <!-- <div class="footer-link-widget widget-install-app col">
                        <h4 class="widget-title">Install App</h4>
                        <p class="wow fadeIn animated">From App Store or Google Play</p>
                        <div class="download-app">
                            <a href="#" class="hover-up mb-sm-2 mb-lg-0"><img class="active" src="{% static 'assets/imgs/theme/app-store.jpg' %}" alt="" /></a>
                            <a href="#" class="hover-up mb-sm-2"><img src="{% static 'assets/imgs/theme/google-play.jpg' %}" alt="" /></a>
                        </div>
                        <p class="mb-20">Secured Payment Gateways</p>
                        <img class="wow fadeIn animated" src="{% static 'assets/imgs/theme/payment-method.png' %}" alt="" />
                    </div> -->
                </div>
            </div>
        </section>
    </footer>
    <!-- Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img src="{% static 'assets/imgs/spinner.gif' %}" alt="" />
                </div>
            </div>
        </div>
    </div> -->
    <!-- Vendor JS-->
    <script data-cfasync="false" src="{% static '/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'assets/js/plugins/slider-range.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
    <!-- Template  JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/shop.js' %}"></script>
    <script src="{% static 'assets/js/function.js' %}"></script>
</body>

</html>
